/*正文*/
.markdown-body {
    margin-left: 16pt;
    margin-right: 16pt;
    text-align: justify;
    font-family: "Heiti SC", Helvetica, Arial, sans-serif;
    font-size: 13pt;
    color: #525353;
    background-color: #fefefe; /*可调*/
    line-height: 2;
    text-align: justify;
    padding-left: 16pt;
    padding-right: 16pt;
}
/*正文中的蓝字画重点，用<b></b>*/
b {
  font-weight: bold;
  color: #244B80;
}
/*各级标题，格式可调*/
.markdown-body h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
/*分割线上的小标题，前面加##*/
.markdown-body h2 {
    padding-top: 16pt;
    font-size: 16pt;
    text-align: center;
    color: #244B80;
    font-weight: bold;
    border-bottom: none;
}
.markdown-body h3 {
    font-size: 11px;
}
.markdown-body h4 {
    font-size: 11px;
}
.markdown-body h5 {
    font-size: 11px;
}
/*引用*/
.markdown-body blockquote {
  border-left: none;
}
.markdown-body blockquote p {
  display: inline;
    color: #525353;
  font-size: 9pt;
  text-align: center;
}
img {
    border: none;
}
